In [ ]:
import h2o
import numpy as np
import pandas as pd

## 1. Entrada en el bar

- pip install h2o
- sudo apt install default-jre
- sudo apt install default-jdk

### Conexión

In [ ]:
#Inicializar H2O dandole acceso a todas las CPUs y 4GB de memoria
h2o.init(nthreads = -1, max_mem_size = 4)

In [ ]:
#h2o.shutdown(prompt=False)

## 2. Invitar a los datos a una copa

In [ ]:
df = h2o.H2OFrame(list(zip(*((1, 2, 3), ('a', 'b', 'c'), (0.1, 0.2, 0.3)))))
df

In [ ]:
df= h2o.H2OFrame({'A': [1, 2, 3],'B': ['a', 'b', 'c'],'C': [0.1, 0.2, 0.3]})
df

In [ ]:
titanic= h2o.import_file('titanic.csv')

In [ ]:
df_pandas=pd.read_csv('titanic.csv')
titanic=h2o.H2OFrame(df_pandas)
df

In [ ]:
df2 = h2o.H2OFrame.from_python({'A': [1, 2, 3, None,''],
                                'B': ['a', 'a', 'b', 'NA','NA'],
                                'C': ['hello', 'all', 'world', None, None],
                                'D': ['12MAR2015:11:00:00', '13MAR2015:12:00:00', None, None,'14MAR2015:13:00:00']},
                                column_types=['numeric', 'enum', 'string', 'time'])
df2

In [ ]:
df2.types

## 3. Conocer los datos

In [ ]:
titanic.head(4)

In [ ]:
titanic.tail(4)

In [ ]:
titanic.columns

In [ ]:
titanic.types

In [ ]:
titanic[['Name']]
titanic[['Name','Sex']]

In [ ]:
titanic[3:5, 1:5]

In [ ]:
titanic[titanic['Survived']==1]

#### Arreglar sus flaquezas

In [ ]:
df2

In [ ]:
df2.isna()

In [ ]:
df3=df2
df3[ df3["A"].isna(), "A"] = 5
df3

## 4. Bailar con los datos

In [ ]:
df_random = h2o.H2OFrame.from_python(np.random.randn(100,4).tolist(), column_names=list('ABCD'))

In [ ]:
df_random.apply(lambda x: x+2)

### Tensar la cuerda

In [ ]:
df7 = h2o.H2OFrame.from_python(['Hello', 'World', 'Welcome', 'To', 'H2O', 'World'])

In [ ]:
df7.countmatches('l')

In [ ]:
df7.gsub('l+','x')

In [ ]:
df7.strsplit('(l)+')

### Los datos se juntan con otros datos. Puede ser mi noche de suerte?

Combinar data frames

In [ ]:
df1 = h2o.H2OFrame.from_python(np.random.randn(4,4).tolist(), column_names=list('ABCD'))
df2 = h2o.H2OFrame.from_python(np.random.randn(4,4).tolist(), column_names=list('ABCD'))

df1.cbind(df2)

In [ ]:
df1.rbind(df2)

Groupby y Merge

In [ ]:
df1 = h2o.H2OFrame(
    {'A' : ['foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'foo'],
     'B' : ['one', 'one', 'two', 'three', 'two', 'two', 'one', 'three'],
     'C' : np.random.randn(8).tolist(),
     'D' : np.random.randn(8).tolist()})

df1.group_by('A').sum().frame

In [ ]:
df2 = df1.group_by(['A','B']).sum().frame

In [ ]:
df1.merge(df2)

Unión de variables categóricas

In [ ]:
df1.anyfactor()

In [ ]:
df1["A"].levels()

In [ ]:
df1.interaction(['A','B'], pairwise=False, max_factors=7, min_occurrence=1)