In [68]:
import h2o
import numpy as np
import pandas as pd

## 1. Entrada en el bar

- pip install h2o
- sudo apt install default-jre
- sudo apt install default-jdk

### Conexión

In [55]:
#Inicializar H2O dandole acceso a todas las CPUs y 4GB de memoria
h2o.init(nthreads = -1, max_mem_size = 4)

Checking whether there is an H2O instance running at http://localhost:54321 . connected.

--------------------------  ------------------------------------------------------------------
H2O cluster uptime:         55 mins 55 secs
H2O cluster timezone:       Europe/Madrid
H2O data parsing timezone:  UTC
H2O cluster version:        3.26.0.11
H2O cluster version age:    1 day
H2O cluster name:           H2O_from_python_frn_bpuof0
H2O cluster total nodes:    1
H2O cluster free memory:    3.980 Gb
H2O cluster total cores:    8
H2O cluster allowed cores:  8
H2O cluster status:         locked, healthy
H2O connection url:         http://localhost:54321
H2O connection proxy:       {'http': None, 'https': None}
H2O internal security:      False
H2O API Extensions:         Amazon S3, XGBoost, Algos, AutoML, Core V3, TargetEncoder, Core V4
Python version:             3.7.4 final
--------------------------  ------------------------------------------------------------------

In [14]:
#h2o.shutdown(prompt=False)

[WARNING] in <ipython-input-14-02ff3806b010> line 1:
    >>> h2o.shutdown(prompt=False)
        ^^^^ Deprecated, use ``h2o.cluster().shutdown()``.
H2O session _sid_aac8 closed.

## 2. Invitar a los datos a una copa

In [57]:
df = h2o.H2OFrame(list(zip(*((1, 2, 3), ('a', 'b', 'c'), (0.1, 0.2, 0.3)))))
df

Parse progress: |█████████████████████████████████████████████████████████| 100%

C1,C2,C3
1,a,0.1
2,b,0.2
3,c,0.3

In [63]:
df= h2o.H2OFrame({'A': [1, 2, 3],'B': ['a', 'b', 'c'],'C': [0.1, 0.2, 0.3]})
df

Parse progress: |█████████████████████████████████████████████████████████| 100%

A,B,C
1,a,0.1
2,b,0.2
3,c,0.3

In [65]:
titanic= h2o.import_file('titanic.csv')

Parse progress: |█████████████████████████████████████████████████████████| 100%

In [77]:
df_pandas=pd.read_csv('titanic.csv')
titanic=h2o.H2OFrame(df_pandas)
df

Parse progress: |█████████████████████████████████████████████████████████| 100%

PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,nan,7.25,nan,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38,1,0,nan,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,nan,7.925,nan,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1,C123,S
5,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,8.05,nan,S
6,0,3,"Moran, Mr. James",male,nan,0,0,330877,8.4583,nan,Q
7,0,1,"McCarthy, Mr. Timothy J",male,54,0,0,17463,51.8625,E46,S
8,0,3,"Palsson, Master. Gosta Leonard",male,2,3,1,349909,21.075,nan,S
9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27,0,2,347742,11.1333,nan,S
10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14,1,0,237736,30.0708,nan,C

In [148]:
df2 = h2o.H2OFrame.from_python({'A': [1, 2, 3, None,''],
                                'B': ['a', 'a', 'b', 'NA','NA'],
                                'C': ['hello', 'all', 'world', None, None],
                                'D': ['12MAR2015:11:00:00', '13MAR2015:12:00:00', None, None,'14MAR2015:13:00:00']},
                                column_types=['numeric', 'enum', 'string', 'time'])
df2

Parse progress: |█████████████████████████████████████████████████████████| 100%

A,B,C,D
1,a,hello,2015-03-12 11:00:00
2,a,all,2015-03-13 12:00:00
3,b,world,
nan,NA,,
nan,NA,,2015-03-14 13:00:00

In [79]:
df2.types

{'A': 'int', 'B': 'enum', 'C': 'string', 'D': 'time'}

## 3. Conocer los datos

In [83]:
titanic.head(4)

PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,nan,7.25,,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38,1,0,nan,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,nan,7.925,,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1,C123,S

In [92]:
titanic.tail(4)

PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
888,1,1,"Graham, Miss. Margaret Edith",female,19,0,0,112053,30,B42,S
889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,nan,1,2,nan,23.45,,S
890,1,1,"Behr, Mr. Karl Howell",male,26,0,0,111369,30,C148,C
891,0,3,"Dooley, Mr. Patrick",male,32,0,0,370376,7.75,,Q

In [110]:
titanic.columns

['PassengerId',
 'Survived',
 'Pclass',
 'Name',
 'Sex',
 'Age',
 'SibSp',
 'Parch',
 'Ticket',
 'Fare',
 'Cabin',
 'Embarked']

In [111]:
titanic.types

{'PassengerId': 'int',
 'Survived': 'int',
 'Pclass': 'int',
 'Name': 'string',
 'Sex': 'enum',
 'Age': 'real',
 'SibSp': 'int',
 'Parch': 'int',
 'Ticket': 'int',
 'Fare': 'real',
 'Cabin': 'enum',
 'Embarked': 'enum'}

In [99]:
titanic[['Name']]
titanic[['Name','Sex']]

Name,Sex
"Braund, Mr. Owen Harris",male
"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female
"Heikkinen, Miss. Laina",female
"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female
"Allen, Mr. William Henry",male
"Moran, Mr. James",male
"McCarthy, Mr. Timothy J",male
"Palsson, Master. Gosta Leonard",male
"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female
"Nasser, Mrs. Nicholas (Adele Achem)",female

In [101]:
titanic[3:5, 1:5]

Survived,Pclass,Name,Sex
1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female
0,3,"Allen, Mr. William Henry",male

In [103]:
titanic[titanic['Survived']==1]

PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38,1,0,nan,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,nan,7.925,,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1,C123,S
9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27,0,2,347742,11.1333,,S
10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14,1,0,237736,30.0708,,C
11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4,1,1,nan,16.7,G6,S
12,1,1,"Bonnell, Miss. Elizabeth",female,58,0,0,113783,26.55,C103,S
16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55,0,0,248706,16,,S
18,1,2,"Williams, Mr. Charles Eugene",male,nan,0,0,244373,13,,S
20,1,3,"Masselmani, Mrs. Fatima",female,nan,0,0,2649,7.225,,C

#### Arreglar sus flaquezas

In [124]:
df2

A,B,C,D
1,a,hello,2015-03-12 11:00:00
2,a,all,2015-03-13 12:00:00
3,b,world,
nan,NA,,
nan,NA,,2015-03-14 13:00:00

In [125]:
df2.isna()

isNA(A),isNA(B),isNA(C),isNA(D)
0,0,0,0
0,0,0,0
0,0,0,1
1,0,0,1
1,0,0,0

In [133]:
df3=df2
df3[ df3["A"].isna(), "A"] = 5
df3

A,B,C,D
1,a,hello,2015-03-12 11:00:00
2,a,all,2015-03-13 12:00:00
3,b,world,
5,NA,,
5,NA,,2015-03-14 13:00:00

## 4. Bailar con los datos

In [166]:
df_random = h2o.H2OFrame.from_python(np.random.randn(100,4).tolist(), column_names=list('ABCD'))

Parse progress: |█████████████████████████████████████████████████████████| 100%

In [197]:
df_random.apply(lambda x: x+2)

A,B,C,D
3.59784,0.900849,0.874126,0.279624
2.27473,0.0177207,1.51391,3.09779
0.997366,2.38577,2.35818,1.12071
0.948394,2.66405,3.10661,1.77978
1.08816,3.87716,0.218198,0.407211
-0.454611,0.551996,1.92013,2.49257
1.73894,1.84384,1.63198,1.67829
1.82543,2.25761,1.86473,1.77967
2.58378,2.44581,2.85334,1.50219
1.22549,1.37476,0.526116,2.27241

### Tensar la cuerda

In [181]:
df7 = h2o.H2OFrame.from_python(['Hello', 'World', 'Welcome', 'To', 'H2O', 'World'])

Parse progress: |█████████████████████████████████████████████████████████| 100%

In [182]:
df7.countmatches('l')

C1
2
1
1
0
0
1

In [195]:
df7.gsub('l+','x')

C1
Hexo
Worxd
Wexcome
To
H2O
Worxd

In [196]:
df7.strsplit('(l)+')

C1,C2
He,o
Wor,d
We,come
To,
H2O,
Wor,d

### Los datos se juntan con otros datos. Puede ser mi noche de suerte?

Combinar data frames

In [211]:
df1 = h2o.H2OFrame.from_python(np.random.randn(4,4).tolist(), column_names=list('ABCD'))
df2 = h2o.H2OFrame.from_python(np.random.randn(4,4).tolist(), column_names=list('ABCD'))

df1.cbind(df2)

Parse progress: |█████████████████████████████████████████████████████████| 100%
Parse progress: |█████████████████████████████████████████████████████████| 100%

A,B,C,D,A0,B0,C0,D0
0.0996147,0.0505273,-0.949532,0.330681,-0.872098,-1.11195,0.540782,1.02874
1.58122,0.166556,1.56805,-0.224889,0.689945,-0.535441,0.641205,0.621192
0.016067,-1.05291,-0.986707,-0.440243,-1.43204,0.306243,-0.197341,1.948
-1.35964,-1.23251,1.94415,1.04689,0.382284,-0.142055,-1.67256,0.85849

In [212]:
df1.rbind(df2)

A,B,C,D
0.0996147,0.0505273,-0.949532,0.330681
1.58122,0.166556,1.56805,-0.224889
0.016067,-1.05291,-0.986707,-0.440243
-1.35964,-1.23251,1.94415,1.04689
-0.872098,-1.11195,0.540782,1.02874
0.689945,-0.535441,0.641205,0.621192
-1.43204,0.306243,-0.197341,1.948
0.382284,-0.142055,-1.67256,0.85849

Groupby y Merge

In [215]:
df1 = h2o.H2OFrame(
    {'A' : ['foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'foo'],
     'B' : ['one', 'one', 'two', 'three', 'two', 'two', 'one', 'three'],
     'C' : np.random.randn(8).tolist(),
     'D' : np.random.randn(8).tolist()})

df1.group_by('A').sum().frame

Parse progress: |█████████████████████████████████████████████████████████| 100%

A,sum_B,sum_C,sum_D
bar,3,-0.394669,-0.372188
foo,5,-0.913626,-0.431778

In [216]:
df2 = df1.group_by(['A','B']).sum().frame

In [217]:
df1.merge(df2)

B,A,C,D,sum_C,sum_D
one,bar,-0.631174,0.987765,-0.631174,0.987765
one,foo,-2.07933,-0.0418752,-1.70533,-1.85922
one,foo,0.373996,-1.81735,-1.70533,-1.85922
three,bar,-0.43494,-1.84041,-0.43494,-1.84041
three,foo,0.852194,1.32049,0.852194,1.32049
two,bar,0.671445,0.48046,0.671445,0.48046
two,foo,0.779728,-0.0599804,-0.0604889,0.106954
two,foo,-0.840217,0.166934,-0.0604889,0.106954

Unión de variables categóricas

In [218]:
df12.anyfactor()

True

In [219]:
df12["A"].levels()

[['bar', 'foo']]

In [220]:
df12.interaction(['A','B'], pairwise=False, max_factors=7, min_occurrence=1)

Interactions progress: |██████████████████████████████████████████████████| 100%

A_B
foo_one
bar_one
foo_two
bar_three
foo_two
bar_two
foo_one
foo_three